*{
    box-sizing: border-box;
}

header{
    background-image:url(../images/background.jpg);
    
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 25px;
    background-color: white;
    width:100%;
    opacity:1 ;

   
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active) {
    background-color: white;
  }
  
  .active {
    background-color: teal;
    color:white;
  }



body  {
    background-image:url(../images/background.jpg);
    
    background-attachment: height="400" width="600";
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    
    width:960px;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   
   
   
  }


  p {
    margin-top: 0px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 45px;
    line-height: 1.6;
    padding:14px;
    background:white;
  }

h1{
    color: white

}

h2{
    color: #4aaaa5;
    border-bottom: double;
}

.floatright{

    float: left;
}


section {
    border: 1px solid black;
    overflow: auto;
    width: 100%;
    padding: 25px; 
    resize: both;
    overflow: auto;
    background-color: white;
    color:#777777;
    
    
  }



.footer{
    position:fixed;
    bottom: 0px;
    text-align: center;
    color:white;
    border-top: 5px solid #4aaaa5;
    border-top-width: 10px;
    padding: 15px;
    background-color: #666666;
    width:960px;
    clear: both;
    
    
}






.pics{
    text-align: center;
}

.picsA1{
    
    position: relative;
    margin: center;
    left: -79px;
    right: -185;
    top: 70px;
    bottom: -177px;
    border: 3px solid #73AD21;
    clear: both;
}


.picsA2{
    position: relative;
    margin: center;
    left: 149px;
    bottom: -60px;
    border: 3px solid #73AD21;
    clear: both;
}


.picsA3{
    position: relative;
    margin: center;
    left: 149px;
    bottom: 440px;
    border: 3px solid #73AD21;
    clear: both;
}


.picsA4{
    position: relative;
    left: -79px;
    bottom: 451px;
    border: 3px solid #73AD21;
    clear: both;
}


.movies{
    position: relative;
    text-align: center;
    top: 0px;
    left: 240px;
    right: 25px;   
    width: 165px;
    height: 57px;
    background-color:teal;
    color:white;
    z-index: 1;
    
   
}


.bible{
    position: relative;
    text-align: center;
    top: -10px;
    left: 469px;
    right: 25px;   
    width: 165px;
    height: 57px;
    background-color:teal;
    color:white;
    z-index: 1;
    
}


.disney{
    position: relative;
    text-align: center;
    top: -512px;
    left: 469px;
    right: 25px;   
    width: 164px;
    height: 57px;
    background-color: teal;
    color:white;
    z-index: 1;
    
}

.work{
    position: relative;
    text-align: center;
    top: -521px;
    left: 240px;
    right: 25px;   
    width: 164px;
    height: 57px;
    background-color:teal;
    color:white;
    z-index: 1;
    
}





